<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="content"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="content"><%= flash[:error] %></p>
    <% end %>
    <%= link_to 'Home page', root_path, class: 'button' %>
    <%= link_to 'Add a kitten', new_kitten_path, class: 'button' %>
    <%= yield %>
  </body>
</html>
